.current-member{
	max-width: 1440px;
	padding: 30px 7%;
	background-color: #f6f6f6;
}

.current-info{
	padding: 30px;
	background-color: rgba(255,0,0,0.8);
	color: white;
}
.current-info .name{
	font-weight: bold;
	font-size: 21px;
}
.current-img{
	text-align: center;
}
.current-img img{
	width: 100%;
	max-width: 300px;

}